.page-footer {
    background-color: #151515;
    color: #cccccc;
}
.page-footer__top {
    padding-top: 50px;
    padding-bottom: 68px;
    border-bottom: 3px solid #534a4a;
}
.page-footer__top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.page-footer__logo {
    margin-bottom: 5px;
}
.page-footer__logo a{
    font-size: 40px;
}

.page-footer__text {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 20px;
}
.page-footer__column {
    width: 255px;
}
.page-footer__column-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}
.page-footer__list {
    @include reset-list;
    
}
.page-footer__feature-item {
    padding-left: 35px;
    margin-bottom: 20px;    
    font-size: 18px;
    line-height: 20px;
    color: #cccccc;
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 16px;
}
.page-footer__list--boxed {
    @include reset-list;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -5px;
}
.page-footer__list--boxed li {
    margin-top: 5px;
    margin-right: 5px;
}
.page-footer__list--tags li {
    padding: 10px 8px;
    font-size: 14px;
    line-height: 21px;
    background-color: $accent-color;
    color: #ffffff;
    text-transform: uppercase;
}
.page-footer__list--flicker li:nth-child(4n){
    margin-right: 0;
}
.page-footer__list--flicker .page-footer__list-link {
    display: block;
    text-decoration: none;
}
.page-footer__list--flicker .page-footer__list-link img {
    display: block;
    width: 60px;
    height: 60px;
}
.page-footer__bottom {
    padding: 15px 0;
}
.page-footer__bottom-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.page-footer__bottom-links {
    display: flex;
    justify-content: flex-end;
    width: 285px;
}
.page-footer__copyright {
    margin: 0;
    font-weight: 14px;
    color: #c5c5c5;
}
.page-footer__copyright-link {
    color: $accent-color;
    font-size: 14px;
    text-decoration: none;
}
@include media-breakpoint-down($md) {
    .page-footer__bottom-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page-footer__copyright {
        text-align: center;
        margin-bottom: 5px;
    }
    .page-footer__bottom-links {
        justify-content: center;
        width: 280px;
    }
}
