
.page-header__container {
    padding-top: 18px;
    padding-bottom: 18px;
}
.page-header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}
.page-header__logo {
    width: 192px;
}
.page-header__nav {
    margin-left: auto;
}
.page-header__search-box {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
    &:hover path{
        fill: $accent-color;
    }
}
@include media-breakpoint-down($lg) {
    .lock .page-header {
    }
    .page-header__logo {
        margin-right: auto;
    }
}
@include media-breakpoint-down($sm) {
    .page-header__logo {
        width: 170px;
    }
}