.portfolio__tabs {
    width: 540px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.portfolio__tab {
    margin-right: 35px;
    padding: 0;
    font-weight: bold;
    border: 0;
    background: 0;
    text-transform: uppercase;
    &:hover {
        color: $accent-color;
    }
}
.portfolio__list {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% + 30px);
    margin-top: -30px;
    margin-left: -30px;
}
.portfolio__item {
    width: 350px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}
.portfolio__image {
    width: 350px;
    height: 200px;
}
.portfolio__link {
    color: $text-color;
    text-decoration: none;

}
.portfolio__item-title {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    
}
.portfolio__item-text {
    margin: 0;
    padding: 0 50px;
    font-size: 12px;
    line-height: 20px;
}
@include media-breakpoint-down($xl) {
    .portfolio__list {
        justify-content: center;
    }
}
@include media-breakpoint-down($lg) {
    .portfolio__subtitle {
        width: 690px;
    }
    .portfolio__list {
        width: 100%;
        margin-left: 0;
    }
    .portfolio__item {
        margin-left: 0;
    }
}
@include media-breakpoint-down($md) {
    .portfolio__subtitle {
        width: calc(100% - 30px);
    }
}
@include media-breakpoint-down($sm) {
    .portfolio__item {
        width: 280px;
    }
    .portfolio__image {
        width: 280px;
        height: 160px;
    }
    .portfolio__inner {
        overflow: hidden;
    }
}