
.promo__wrapper {
    width: 100%;
    min-height: 514px;
    background-image: url("../images/promo-bg.webp");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-color: #374756;
}
.no-webp .promo__wrapper {
    background-image: url("../images/promo-bg.jpg");
}
.promo__container {
    display: flex;
    flex-direction: column;
}
.promo__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 514px;

}
.promo__tagline {
    position: relative;
    display: block;
    margin-bottom: 58px;
    padding-top: 94px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        background-image: url("../images/icon-user.svg");
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
}
.promo__text {
    width: 730px;
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

@include media-breakpoint-down ($md) {
    .promo__text {
        width: 510px;
    }
}
@include media-breakpoint-down ($sm) {
    .promo__tagline {
        font-size: 32px;

    }
    .promo__text {
        width: 280px;
        font-size: 16px;
    }
}