.slider {

    position: relative;
}
.slider__btn {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    border:  0;
    &:hover {
        background-color: #ffffff;
    }
    &:hover path {
        fill: rgba(81, 81, 81, 0.68);
    }
}
.slider__list {
    @include reset-list;
}
.slider__btn-icon {

    width: 15px;
    height: 28px;
    & path {
        fill: rgba(81, 81, 81, 0.31);
    }

}
.slider__item {
    display: none;
}
.slider__item--current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider__dots {
    width: 160px;
    margin: 0 auto;
    text-align: center;

}
.slider__dot {
    width: 13px;
    height: 13px;
    margin-right: 8px;
    padding: 0;
    background-color: #3f444a;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    &--active {
        background-color: $accent-color;

    }
}
@include media-breakpoint-down($md) {
    .slider__btn {
        width: 50px;
        height: 50px;
    }

}