.social-links {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
}
.social-links--boxed li {
    margin-top: 5px;
    margin-right: 5px;
}
.social-links--boxed .social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    text-align: center;
    transition: all 0.2s ease;
    & path {
        fill: #474747;
    }
    &:hover {
        background-color: $accent-color;
        border-color: darken($accent-color, 5%);
    }
    &:hover path {
        fill: #ffffff;
    }
    &:active {
        background-color: darken($accent-color, 10%);
    }

}

